<?php session_start(); ?>
<!DOCTYPE html>
<html>
<head>
  <title>Muestra Empresarial</title>
  <meta charset="UTF-8">
  <link href="../../Resources/css/style.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="../JS/jquery.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../../Resources/font-awesome-4.7.0/css/font-awesome.min.css">
  </head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">

  <div class="container">
    <a class="navbar-brand" href="#">Muestra Empresarial</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="RegistrarGruposMaestros.html">Configurar Semestre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Proyectos.html">Proyectos </a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Participantes</a>
        </li>
        <li class="nav-item dropdown my-2 my-sm-0">
          <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mi Cuenta</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="CambiarContrasena.html">Cambiar contraseña</a>
            <a id="logoutBtn" class="dropdown-item" href="#">Cerrar sesión</a>
          </div>
        </li>
      </ul>
      
    </div>
  </div>
  
</nav>

  <main role="main" class="container">

    <div id="alertDiv">
      <div class="alert alert-success" role="alert" style="display: none;" id="successAlert">
        El anuncio ha sido publicado exitosamente
        <button type="button" class="close" aria-label="Close" id="successAlertClose">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="alert alert-danger" role="alert" style="display: none;" id="fileErrorAlert">
        <strong>¡Error!</strong> El archivo no tiene el formato correcto.
        <button type="button" class="close" aria-label="Close" id="fileErrorAlertClose">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="alert alert-warning" role="alert" style="display: none;" id="noTextAlert">
        <strong>Advertencia</strong> No has escrito nada en el nuevo anuncio.
        <button type="button" class="close" aria-label="Close" id="noTextAlertClose">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <fieldset>
      <legend>
        Instrucciones
      </legend>
      <p>En esta sección se encuentra las instrucciones acerca de cómo utilizar el sistema. También podrás publicar anuncios que los profesores y los alumnos podrán ver en su página de inicio</p>
      <p>En la sección de Proyectos podrás visualizar los candidatos a participar en la mmuestra empresarial.</p>
      <p>Una vez seleccionados los proyectos participantes no será posible hacer cambios. </p>
    </fieldset>
    <div id="anounceDiv">
      <fieldset>
        <legend>Anuncios</legend>
        <table id="anounceTable"></table>
      </fieldset>
      <fieldset>
        <legend>Publicar nuevo anuncio</legend>
        <textarea id="anouncement" cols="90" rows="3"></textarea>
        <br>
        <input type="submit" class="btn btn-primary" value="Publicar Anuncio" id="newAnounce">
      </fieldset>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Eliminar Anuncio</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ¿Estás seguro de que deseas eliminar el anuncio?
            <p><strong></strong><sub></sub></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirmDelete">Confirmar</button>
          </div>
        </div>
      </div>
    </div>      

  </main><!-- /.container -->

</body>

<script type="text/javascript">
  $(document).ready(function(){

    loadAnouncements();

    $("#newAnounce").on("click", function() {
      if ($("#anouncement").val() != "") {
        var jsonToSend = {
            "action" : "ADDANOUNCE",
            "data" : $("#anouncement").val()
        }
        $.ajax({
            url : "../PHP/applicationLayer.php",
            type : "POST",
            data : jsonToSend,
            dataType : "json",
            contentType : "application/x-www-form-urlencoded",
            success : function(jsonResponse){
                window.location.reload();
            },
            error : function(errorMessage){
                alert(errorMessage.responseText);
            }
        });
      }
      else {
        $('#noTextAlert').show();
      }
    });

    $('body').delegate("#delete", "click", function() {
      var id = $(this).parent().parent().find('td:eq(0)').text();
      var text = $(this).parent().parent().find('td:eq(2)').text();
      $(".modal-body p strong").text(text);
      $(".modal-body p sub").text(id);
      $(".modal-body p sub").hide();
    });

    $("#confirmDelete").on("click", function() {
      var id = $(".modal-body p sub").text();
      var jsonToSend = {
            "action" : "DELETEANOUNCE",
            "id" : id
        }
        $.ajax({
            url : "../PHP/applicationLayer.php",
            type : "POST",
            data : jsonToSend,
            dataType : "json",
            contentType : "application/x-www-form-urlencoded",
            success : function(jsonResponse){
                window.location.reload();
            },
            error : function(errorMessage){
                alert(errorMessage.responseText);
            }
        });
    });

    $('#noTextAlertClose').on("click", function() {
        $('#noTextAlert').hide();
    });

    $('#successAlertClose').on("click", function() {
        $('#successAlert').hide();
    });

  });

  function loadAnouncements() {
    var jsonToSend = {
        "action" : "LOADANOUNCEMENTS"
    }
    $.ajax({
        url : "../PHP/applicationLayer.php",
        type : "POST",
        data : jsonToSend,
        dataType : "json",
        contentType : "application/x-www-form-urlencoded",
        success : function(jsonResponse){
          for (var i = 0; i <= jsonResponse[0].length; i++) {
              $(jsonResponse[0][i]).each(function() {
                  var row = $("<tr>");
                  row.append( $('<td style="display: none;">').text(jsonResponse[0][i].id)); 
                  row.append( $('<td>').text(jsonResponse[0][i].date_time));
                  row.append( $('<td>').text(jsonResponse[0][i].val));
                  row.append( $('<td>').append($('<a id="delete" class="btn btn-danger" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o fa-lg"></i></a>')));
                  $("#anounceTable").append(row); 
              });
          }
        },
        error : function(errorMessage){
            alert(errorMessage.responseText);
        }
    });    
  }
</script>

</html>
