
<!DOCTYPE html>
<html>
<head>
  <title>MuestraEmpresarial</title>
  <meta charset="UTF-8">
  <link href="../../Resources/css/style.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="../JS/jquery.js"></script>
  <script type="text/javascript" src="../JS/LoginAdmin.js"></script>
</head>
<body>

<h1>Muestra Empresarial</h1>

<div id="loginForm">
  <fieldset>
    <legend>Login Administrador</legend>
    <p>Cuenta de Usuario:<br/>
    <input id="userId" class="formElement" type="text" />
    </p>
    <p>Contraseña:<br/>
    <input id="userPassword" class="formElement" type="password" />
    </p>
    <input id="rememberMe" type="checkbox" value="1">Recordarme
    <br></br>
    <input type="submit" value="Login" id="loginBtn"/>
    <br>
  </fieldset>
</div>

</body>
</html>