
<!DOCTYPE html>
<html>
<head>
  <title>Muestra Empresarial</title>
  <meta charset="UTF-8">
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="../JS/jquery.js"></script>
  <script type="text/javascript" src="../JS/PopularBD.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.7/xlsx.core.min.js"></script>
</head>
<body>
<h1>Muestra Empresarial</h1>
<ul id="tabBar">
	<li><input id="homeBtn" type="submit" value="Inicio"></li>
  <li><input id="configureBtn" type="submit" value="Configurar Semestre"></li>
  <li><input id="projectsBtn" type="submit" value="Proyectos"></li>
  <li><input id="participantsBtn" type="submit" value="Participantes"></li>
  <li><input id="changePassw" type="submit" value="Cambiar Contraseña"></li>
  <li><input id="logoutBtn" type="submit" value="Cerrar sesión"></li>
</ul>
<div id="mainBody">
	<fieldset>
		<legend>Registrar grupos del semestre</legend>
		<input id="fileUp" type="file" value="Subir archivo">
	</fieldset>
  <fieldset>
    <legend>Archivos requisito para la muestra</legend>
    <table id="files"></table>
  </fieldset>
  <fieldset>
    <legend>Administrar las clasificaciones sectoriales</legend>
    <input type="submit" id="addClassification" value="Nueva clasificación">
    <table id="classifications">
      <thead>
        <tr>
          <th>Clasificación Sectorial</th>
          <th></th>
        </tr>
      </thead>
    </table>
  </fieldset>
</div>
</body>
</html>
