
<!DOCTYPE html>
<html>
<head>
  <title>Muestra Empresarial</title>
  <meta charset="UTF-8">
  <link href="../../Resources/css/style.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="../JS/jquery.js"></script>
  <script type="text/javascript" src="../JS/PopularBD.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.7/xlsx.core.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="../../DataTables/datatables.min.css"/>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
  <a class="navbar-brand" href="#">Muestra Empresarial</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="Inicio.html">Inicio </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="RegistrarGruposMaestros.html">Configurar Semestre <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Proyectos.html">Proyectos </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="Participantes.html">Participantes</a>
      </li>
      <li class="nav-item dropdown my-2 my-sm-0">
        <a class="nav-link dropdown-toggle" href="" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mi Cuenta</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="CambiarContrasena.html">Cambiar contraseña</a>
          <a id="logoutBtn" class="dropdown-item" href="#">Cerrar sesión</a>
        </div>
      </li>
    </ul>
    
  </div>
</div>
</nav>

<main role="main" class="container">

  <div id="alertDiv">
    <div class="alert alert-success" role="alert" style="display: none;" id="successAlert">
      Los profesores y sus grupos fueron registrados con éxito
      <button type="button" class="close" aria-label="Close" id="successAlertClose">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="alert alert-success" role="alert" style="display: none;" id="successAlert2">
      Se han guardado los cambios exitosamente
      <button type="button" class="close" aria-label="Close" id="successAlertClose2">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="alert alert-danger" role="alert" style="display: none;" id="fileErrorAlert">
      <strong>¡Error!</strong> El archivo no tiene el formato correcto.
      <button type="button" class="close" aria-label="Close" id="fileErrorAlertClose">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="alert alert-warning" role="alert" style="display: none;" id="noFileAlert">
      <strong>Advertencia</strong> No has seleccionado ningún archivo.
      <button type="button" class="close" aria-label="Close" id="noFileAlertClose">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

  <div id="mainBody">
  	<fieldset>
  		<legend>Registrar grupos del semestre</legend>
      <span>
        <input id="fileUp" type="file" value="Seleccionar archivo">
        <input type="submit" id="sendFile" value="Subir archivo" class="btn btn-primary">
      </span>
  	</fieldset>
    <fieldset>
      <legend>Archivos requisito para la muestra</legend>
      <table id="requiredFiles"></table>
      <input type="submit" id="saveRequirements" value="Guardar" class="btn btn-primary">
    </fieldset>
    <fieldset>
      <legend>Administrar las clasificaciones sectoriales</legend>
      <input type="submit" id="addClassification" value="Nueva clasificación">
      <table id="classifications">
        <thead>
          <tr>
            <th>Clasificación Sectorial</th>
            <th></th>
          </tr>
        </thead>
      </table>
    </fieldset>
  </div>

</main>
</body>
</html>
