<!DOCTYPE html>
<html>
<head>
<title>Registro Admin</title>
<meta charset="UTF-8">
<link href="css/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../JS/jquery.js"></script>
<script type="text/javascript" src="../JS/RegistroAdmin.js"></script>

</head>
<body>


<fieldset id="myform">
	<legend>Registro Admin</legend>

Matrícula del alumno:<br>
	<input id="admin" type="text" name="admin"> <br><br>

Nombre:<br>
	<input id="name" type="text" name="Name"> <br><br>

Contraseña:<br>
	<input id="password" type="password" name="password"> <br><br>


<input id="register" type="submit" value="Registrarse">
<input id="cancel" type="submit" value="Cancelar">


</fieldset>

</body>
</html> 