<!DOCTYPE html>
<html>
<head>
  <title>Muestra Empresarial</title>
  <meta charset="UTF-8">
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="../JS/jquery.js"></script>
  <script type="text/javascript" src="../JS/PopularBD.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.7.7/xlsx.core.min.js"></script>
</head>
<body>
<h1>Muestra Empresarial</h1>
<ul id="tabBar">
	<li><input id="homeBtn" type="submit" value="Inicio"></li>
</ul>
<div id="mainBody">
	<fieldset>
		<legend>Poblar base de datos</legend>
		<input id="fileUp" type="file" value="Subir archivo">
	</fieldset>
</div>
</body>
</html>
